<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 不使用namespace的话sql搜索定位会比较方便-->
<mapper namespace="com.neusoft.mapper.ItemOrderMapper">

     <!-- 实体类与数据库映射字段部分  start -->
	<resultMap id="ResultMapItemOrder" type="com.neusoft.po.ItemOrder">
        <result property="id" column="id"  jdbcType="INTEGER"/>
        <result property="itemId" column="item_id"  jdbcType="INTEGER"/>
        <result property="userId" column="user_id"  jdbcType="INTEGER"/>
        <result property="code" column="code"  jdbcType="VARCHAR"/>
        <result property="addTime" column="addTime"  jdbcType="TIMESTAMP"/>
        <result property="total" column="total"  jdbcType="VARCHAR"/>
        <result property="isDelete" column="isDelete"  jdbcType="INTEGER"/>
        <result property="status" column="status"  jdbcType="INTEGER"/>
        
	</resultMap>
	
	<resultMap id="ResultMapItemOrderDto" type="com.neusoft.po.ItemOrder">
        <result property="id" column="id"  jdbcType="INTEGER"/>
        <result property="itemId" column="item_id"  jdbcType="INTEGER"/>
        <result property="userId" column="user_id"  jdbcType="INTEGER"/>
        <result property="code" column="code"  jdbcType="VARCHAR"/>
        <result property="addTime" column="addTime"  jdbcType="TIMESTAMP"/>
        <result property="total" column="total"  jdbcType="VARCHAR"/>
        <result property="isDelete" column="isDelete"  jdbcType="INTEGER"/>
        <result property="status" column="status"  jdbcType="INTEGER"/>
         <association property="user" column="user_id" select="com.neusoft.mapper.UserMapper.load"/>
        <collection property="details" column="id" 
                ofType="com.neusoft.po.OrderDetail" select="com.neusoft.mapper.OrderDetailMapper.listByOrderId"/>
       
        
	</resultMap>
	
	 <!-- 实体类与数据库映射字段部分  end -->
	 
	 <!-- 声明数据库字段 -->
	<sql id="ItemOrder_field">
           id,
           item_id,
           user_id,
           code,
           addTime,
           total,
           isDelete,
           status
	</sql>
	
	<!-- 实体类属性  -->
	<sql id="ItemOrder_insert">
        	#{id} ,
        	#{itemId} ,
        	#{userId} ,
        	#{code} ,
        	#{addTime} ,
        	#{total} ,
        	#{isDelete} ,
        	#{status} 
	</sql>
	
	<!-- 执行修改时 数据库字段和表字段比较 -->
	<sql id="ItemOrder_update">
		    <if test="itemId != null" >
	            item_id = #{itemId} ,
	        </if>
		    <if test="userId != null" >
	            user_id = #{userId} ,
	        </if>
		    <if test="code != null" >
	            code = #{code} ,
	        </if>
		    <if test="addTime != null" >
	            addTime = #{addTime} ,
	        </if>
		    <if test="total != null" >
	            total = #{total} ,
	        </if>
		    <if test="isDelete != null" >
	            isDelete = #{isDelete} ,
	        </if>
		    <if test="status != null" >
	            status = #{status} 
	        </if>
	</sql>
	
	<!-- 查询时条件 -->
	<sql id="ItemOrder_where">
	        <if test="id != null " >
	            and id =#{id}
	        </if>
	        <if test="itemId != null " >
	            and item_id =#{itemId}
	        </if>
	        <if test="userId != null " >
	            and user_id =#{userId}
	        </if>
	        <if test="code != null " >
	            and code =#{code}
	        </if>
	        <if test="addTime != null " >
	            and addTime =#{addTime}
	        </if>
	        <if test="total != null " >
	            and total =#{total}
	        </if>
	        <if test="isDelete != null " >
	            and isDelete =#{isDelete}
	        </if>
	        <if test="status != null " >
	            and status =#{status}
	        </if>
	</sql>
	
   <!-- **************************************分割线************************************************************ -->	
	
	<!-- 以下是sql执行语句 
	     注意：1)需要传参数的请注意你使用的方法是 xxByMap还是ByEntuty 存放的参数类型不一致。
	      2)非自定义的方法已经是basedao注明的。方法名一定要和id相同
	      3)自定义类的方法注意是否和共有方法重名id
	      4)执行sql出现顺序和baseDao方法一致，便于查询请勿随意添加，自定义的sql一律放在自定义sql区域
	 -->
	
	
   <!-- ========================================新增==================================================================== -->
	<!-- 
	 【注意添加序列】
	 1.方法描述：新增数据
	 2.参数：实体类
	 3.返回：主键
	-->
	<insert id="insert" parameterType="com.neusoft.po.ItemOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO item_order (
        <include refid="ItemOrder_field" />
        ) VALUES (
        <include refid="ItemOrder_insert" />       
        )
	</insert>
	
	
	 <!-- ========================================删除==================================================================== -->
	<!-- 
	 1.方法描述：根据主键id删除
	 2.参数：主键id
	-->
	<delete id="deleteById" parameterType="java.lang.Integer">
	 delete from item_order where id=#{id}
	</delete>
	
	
	<!-- 
	 1.方法描述：根据实体类删除
	 2.参数：主键id
	-->
	<delete id="deleteByEntity" parameterType="com.neusoft.po.ItemOrder">
	 delete from item_order
	  WHERE 1=1
      <include refid="ItemOrder_where" />   
	</delete>
	
	
	<!-- 
	 1.方法描述：根据map删除
	 2.参数：主键id
	-->
	<delete id="deleteByMap" parameterType="java.util.HashMap">
	 delete from item_order
	  WHERE 1=1
      <include refid="ItemOrder_where" />   
	</delete>
	
	
	 <!-- ========================================修改==================================================================== -->
	<!-- 
	 1.方法描述：修改数据
	 2.参数：实体类
	-->
	<update id="update" parameterType="com.neusoft.po.ItemOrder">
        UPDATE item_order
        <set>
	        <include refid="ItemOrder_update" />
	    </set>
        WHERE 1=1
        	<include refid="ItemOrder_where" />        
	</update>
	
	<!-- 
	 1.方法描述：修改数据通过id
	 2.参数：实体类
	 -->
	<update id="updateById" parameterType="com.neusoft.po.ItemOrder">
        UPDATE item_order
        <set>
	        <include refid="ItemOrder_update" />
	    </set>
        WHERE 1=1
        	and id=#{id}      
	</update>
	
	
	
	 <!-- ========================================查询列表【不分页】==================================================================== -->
	
	<!-- 
	 1.方法描述：用于listByMap根据map查询
	 2.参数：map
	-->
	<select id="listByMap" resultMap="ResultMapItemOrder" parameterType="map">
		select <include refid="ItemOrder_field" />
 		from item_order where 1=1
 		<include refid="ItemOrder_where" /> 
	</select>
	
	<!-- 
	 1.方法描述：用于select查询所有
	 2.参数：无参数
	-->
	<select id="listAll" resultMap="ResultMapItemOrder">
		select <include refid="ItemOrder_field" />
 		from item_order 
	</select>
	
	
	<!-- 
	 1.方法描述：查询所有实体,根据实体属性值为判断条件查询所有实体，
	 2.参数：Entity
	-->
	<select id="listAllByEntity" resultMap="ResultMapItemOrder" parameterType="com.neusoft.po.ItemOrder">
		select <include refid="ItemOrder_field" />
 		from item_order where 1=1
 		<include refid="ItemOrder_where" /> 
	</select>
	
	
	
	 <!-- ========================================查询单个对象==================================================================== -->
	<!-- 
	 1.方法描述：select查询单个
	 2.参数：id
	-->
	<select id="load" resultMap="ResultMapItemOrder" parameterType="java.lang.Integer">
		select 	<include refid="ItemOrder_field" />
 		from item_order 
 		where id=#{id}
	</select>
	
	
	
	<!-- 
	 1.方法描述：select查询单个
	 2.参数：id
	-->
	<select id="getById" resultMap="ResultMapItemOrder" parameterType="java.lang.Integer">
		select 	<include refid="ItemOrder_field" />
 		from item_order 
 		where id=#{id}
	</select>
	
	<!-- 
	 1.方法描述：用于getByMap根据map查询
	 2.参数：map
	-->
	<select id="getByMap" resultMap="ResultMapItemOrder" parameterType="map">
		select <include refid="ItemOrder_field" />
 		from item_order where 1=1
 		<include refid="ItemOrder_where" /> 
	</select>
	
	<!-- 
	 1.方法描述：用于Entity根据Entity查询
	 2.参数：Entity
	 -->
	<select id="getByEntity" resultMap="ResultMapItemOrder" parameterType="com.neusoft.po.ItemOrder">
		select <include refid="ItemOrder_field" />
 		from item_order where 1=1
 		<include refid="ItemOrder_where" /> 
	</select>
	
	
	 <!-- ========================================查询列表【分页】==================================================================== -->
     <!-- 
	 1.方法描述：分页
	 2.参数：map
	 -->
	<select id="findByMap" resultMap="ResultMapItemOrder" parameterType="map">
		select <include refid="ItemOrder_field" />
 		from item_order where 1=1
 		<include refid="ItemOrder_where" /> 
	</select>
	
     <!-- 
	 1.方法描述：分页
	 2.参数：Entity
	 -->
	<select id="findByEntity" resultMap="ResultMapItemOrder" parameterType="com.neusoft.po.ItemOrder">
		select <include refid="ItemOrder_field" />
 		from item_order where 1=1
 		<include refid="ItemOrder_where" /> 
	</select>
	
	
	 <!-- ========================================批量新增修改==================================================================== -->
	<!-- 
	 1.方法描述：批量插入
	 2.参数：集合/数组
	-->
	<insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO item_order (
        <include refid="ItemOrder_field" />
        ) VALUES 
        <foreach collection="list" item="item" index="index"
			separator=",">
			(
			
	            #{item.itemId} ,
	            #{item.userId} ,
	            #{item.code} ,
	            #{item.addTime} ,
	            #{item.total} ,
	            #{item.isDelete} ,
	            #{item.status} 
			
			)
		</foreach>       
        
	</insert>
    
    <!-- 
	 1.方法描述：批量修改
	 2.参数：集合/数组
	-->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index"
			separator=";">
        UPDATE 
        item_order 
        <set>
		    <if test="item.itemId != null" >
	        item_id = #{item.itemId},
	        </if>
		    <if test="item.userId != null" >
	        user_id = #{item.userId},
	        </if>
		    <if test="item.code != null" >
	        code = #{item.code},
	        </if>
		    <if test="item.addTime != null" >
	        addTime = #{item.addTime},
	        </if>
		    <if test="item.total != null" >
	        total = #{item.total},
	        </if>
		    <if test="item.isDelete != null" >
	        isDelete = #{item.isDelete},
	        </if>
		    <if test="item.status != null" >
	        status = #{item.status}
	        </if>
	    </set>
        WHERE 
        	1=1 
        </foreach>    
	</update>

   <!-- ******************************自定义 sql************************************************************** -->
   
   <!-- 
           通过sql查询单个对象 返回对象
    -->
   <select id="getBySqlReturnEntity" resultMap="ResultMapItemOrder">
		${sql}
   </select>
   
    <!-- 
           通过sql查询单个对象 返回map
    -->
   <select id="getBySqlReturnMap" resultType="map">
		${sql}
   </select>
   
   <!-- 
           通过sql查询集合 返回对象
    -->
   <select id="listBySqlReturnEntity" resultMap="ResultMapItemOrderDto">
		${sql}
   </select>
   
    <!-- 
           通过sql查询查询集合 返回map
    -->
   <select id="listBySqlReturnMap" resultType="map">
		${sql}
   </select>
   
   <!-- 
           通过sql查询分页集合 返回对象
    -->
   <select id="findBySqlRerturnEntity" resultMap="ResultMapItemOrderDto">
		${sql}
   </select>
   
   <!-- 通过sql修改 -->
   <update id="updateBysql">
       ${sql}  
   </update>
   
   <delete id="deleteBySql">
	${sql}  
	</delete>
	
</mapper>

